name: floating_action_bubble
description: A animated menu using a floating action button , the aesthetic of the menu items are fully customisable 
version: 1.1.2
homepage: https://github.com/Darshan0/floating_action_bubble

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
